<div data-testid="SkipToContent">
    <a
        href="#main-menu"
        class="btn btn-primary absolute left-0 m-3 -translate-y-16 p-3 transition focus:translate-y-0"
    >
        Accéder au menu
    </a>
    <a
        href="#main-content"
        class="btn btn-primary absolute left-0 m-3 -translate-y-16 p-3 transition focus:translate-y-0"
    >
        Accéder au contenu
    </a>
</div>